* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 40px;
    height: 40px;
    background: url(../images/search.png) no-repeat center / 25px rgb(189, 88, 88);
    border: none;
    cursor: pointer;
    vertical-align: top;
}

div {
    border: 2px rgb(177, 86, 86) solid;
    display: inline-block;
    border-radius: 3px;
}

input {
    padding: 11px 10px 9px;
    vertical-align: top;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color: #ccc;
}

input:focus::placeholder {
    opacity: 0;
}